<ion-header>
  <ion-navbar>
    <ion-title>Payment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body">
  <div class="titleContainer">
    <h2 padding>Mon Panier</h2>
    <button ion-button text-center color="secondary" (click)="_goBack()">
      Modifier
    </button>
  </div>
  <ion-list  *ngIf="cart">
      <ion-item *ngFor="let product of cart; let productId = index">
        <ion-thumbnail item-start>
          <img src="{{product.img}}">
        </ion-thumbnail>
        <h3 class="name">{{product.name}}</h3>
        <p>{{product.price}}$</p>
        <div clear item-end>
          <div clear item-end>
          Qté: {{product.quantity}} ({{product.quantity * product.price}}$)
        </div>
        </div>
      </ion-item>
    </ion-list>
    
    <div class="orderContainer">
      <div class="orderButtonContainer">
        <div class="price">
          <h4>Total: {{total}}$</h4>
        </div>
        <button ion-button text-center>Payer</button>
      </div>
    </div>
</ion-content>
