page-menu {
.body, ion-list-header, ion-list, button {
    background-color: white;
}
.catContainer {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}
.catContainer > h2 {
    margin-left: 10px;
}

.categoriesList {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart > ion-icon {
    margin-right: 10px;
    margin-top: 4px;
}
.counter {
    margin: 0px 2px 0px 2px;
    padding: 3px 6px 3px 6px;
}
.counterButton {
    font-size: 18px;
    border: 1px solid #F6F6F6;
    border-radius: 50%;
    background-color: #F6F6F6;
    text-align: center;
    width: 25px;
    
}
h1{
    padding-left: 20px;
}
.headerContainer {
    border-radius: 2%;
    border: 1px solid #F6F6F6;
    background-color: white;
    position: fixed;
    width: 97%;
    height: 10%;
    top: 8%;
    z-index: 1000;
}
ion-list ion-list-header {
    border: none;
    margin-bottom: 2px;
    padding-bottom: 0px;
}
item-md ion-thumbnail img {
    height: 60px;
    margin-left: 10px;
    width: 60px;
}
.list-header-ios {
    margin-bottom: 0px;
}
.list-header-md {
    margin-bottom: 0px;
}
.name {
    display: flex;
    flex-wrap: wrap;
    text-transform: none;
    width: 20px;
}
.orderContainer {
    border-radius: 2%;
    border: 1px solid #F6F6F6;
    background-color: white;
    position: fixed;
    width: 97%;
    height: 20%;
    top: 82%;

}
.orderButtonContainer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.prodlabel {
    color: black;
}
.titleContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

}
