<ion-header>
  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body">
  <div class="headerContainer">
    <div class="titleContainer">
      <h3>Faites votre choix...</h3>
      <div class="cart">
        <ion-icon name="basket"></ion-icon>
        <h4>{{total || 0}}€</h4>
      </div>
    </div>
</div>
<ion-list class="categoriesList">
  <ion-list-header *ngFor="let categories of menu; let catId = index" no-lines no-padding no-margin>
      <button no-lines (click)="_toggleCategory(catId)">
        <div class="catContainer">
          <ion-img width="100" height="100" src="{{categories.img}}"></ion-img>
          <h2>{{categories.name}}</h2>
        </div>
      </button>
    <ion-list  *ngIf="categories.products && categories.open">
      <ion-item *ngFor="let product of categories.products; let productId = index">
        <ion-thumbnail item-start (click)="_productModal(catId, productId)">
          <img src="{{product.img}}">
        </ion-thumbnail>
        <h3 class="name" (click)="_productModal(catId, productId)">{{product.name}}</h3>
        <p>{{product.price}}€</p>
        <div clear item-end>
          <button class="counterButton" (click)="_addToCart(catId, productId)">+</button>
            <span class="counter">{{product.quantity || 0}}</span>
          <button class="counterButton" (click)="_deleteFromCart(catId, productId)">-</button>
        </div>
      </ion-item>
    </ion-list>
    </ion-list-header>
</ion-list>
<div class="orderContainer">
  <div class="orderButtonContainer">
    <button ion-button [color]="total && total > 0 ? 'default' : 'light'" text-center (click)="_onOrder()">
      Panier ({{cart.length || 0}} items)
      </button>
  </div>
</div>
</ion-content>

